##ZADANIE 1

Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [53]:
import pandas as pd 
import numpy as np
orders_df = pd.read_csv('/content/orders.csv')
orders_df.head()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016/09/04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014/11/14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017/02/26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013/12/01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015/10/22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1

In [54]:
#1
orders_df['order_date'] = pd.to_datetime(orders_df['order_date']).dt.strftime('%Y-%m-%d')

In [55]:
#2
print("Unikalnych wartości w kolumnie Tshirt category jest: ", len(orders_df['tshirt_category'].unique()))
print("Te wartości to: \n", orders_df['tshirt_category'].unique())

Unikalnych wartości w kolumnie Tshirt category jest:  10
Te wartości to:
 ['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']

In [56]:
#3
orders_df['tshirt_category'] = orders_df['tshirt_category'].apply(lambda x: str.replace(x, 'Bl ', 'Black '))
orders_df['tshirt_category'] = orders_df['tshirt_category'].apply(lambda x: str.replace(x, "Wh ", "White "))
orders_df['tshirt_category'] = orders_df['tshirt_category'].apply(lambda x: str.replace(x, "Tshirt ", "T-Shirt "))
orders_df['tshirt_category'] = orders_df['tshirt_category'].apply(lambda x: str.replace(x, "T-shirt ", "T-Shirt "))
orders_df['tshirt_category'] = orders_df['tshirt_category'].apply(lambda x: str.replace(x, "Hoodie", "X Hoodie Unisex"))
orders_df['tshirt_category'] = orders_df['tshirt_category'].apply(lambda x: str.replace(x, "Tennis Shirt", "X Tennis-Shirt Unisex"))

In [57]:
#4
orders_df['tshirt_colour'] = orders_df['tshirt_category'].apply(lambda x: x.split()[0])
orders_df['tshirt_type'] = orders_df['tshirt_category'].apply(lambda x: x.split()[1])
orders_df['tshirt_size'] = orders_df['tshirt_category'].apply(lambda x: x.split()[2])

In [58]:
#5
result= orders_df[(orders_df['order_date'] > '2014-12-31') & (orders_df['order_date'] < '2016-08-02')]

In [59]:
#Sprawdzenie 5
result[result['order_date'] <= '2014-12-31']

Empty DataFrame
Columns: [order_date, pages_visited, order_id, customer_id, tshirt_category, tshirt_price, tshirt_quantity, tshirt_colour, tshirt_type, tshirt_size]
Index: []

In [60]:
#sprawdzenie 5
result[result['order_date'] >= '2016-08-02']

Empty DataFrame
Columns: [order_date, pages_visited, order_id, customer_id, tshirt_category, tshirt_price, tshirt_quantity, tshirt_colour, tshirt_type, tshirt_size]
Index: []

In [61]:
result.head()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,Black,T-Shirt,F
12,2015-11-24,15,HTS-je57lh-0001,je57lh,X Hoodie Unisex,23.0,3,X,Hoodie,Unisex
13,2015-10-10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3,White,T-Shirt,M
15,2015-11-29,15,HTS-heb26i-0001,heb26i,Black T-Shirt F,17.5,1,Black,T-Shirt,F

##ZADANIE 2

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [62]:
customers_df = pd.read_csv('/content/customers.csv')
customers_df.head()

,customerID,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False

In [63]:
#1
print(list(customers_df.columns))

['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address', 'campaign']

In [64]:
#2
print('rozmiar ramki z zadania 1: ', orders_df.size)
print('rozmiar ramki z zadania 2: ', customers_df.size)

rozmiar ramki z zadania 1:  265520
rozmiar ramki z zadania 2:  112596

In [65]:
#3
customers_df.rename(columns={'customerID': 'customer_id'}, inplace=True)
print(list(customers_df.columns))

['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address', 'campaign']

In [67]:
#4
df_final = orders_df.join(customers_df.set_index('customer_id'), on='customer_id')
df_final.head()
#używam left join, czyli dostaje wszystkie rekordy z orders_df oraz dopasowane rekordy z customers_df, 
#jeśli nie ma dopasowania to mam rekord z orders_df oraz puste wartości w kolumnach z customers

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,White,T-Shirt,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,White,T-Shirt,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,White,T-Shirt,F,F,1959/10/22,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,51.99.199.27,False
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True

##ZADANIE 3

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [68]:
df_final.to_csv('/content/final.csv', index=False)